.task_column_heading {
  position: absolute;
  left: 8%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.task_column_icon {
  width: 30px;
  margin-right: 10px;
}

.task_card_bottom_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
