.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 8%;
}
.task_column {
  display: flex;
  width: 100vw;
  margin: 30px 0;
}
